# Recomendado: Python 3.9–3.11
opencv-python
numpy
scipy
matplotlib
Pillow
pandas
ipykernel

# Detectores de rostro
mediapipe

# MTCNN y su stack (pines para evitar incompatibilidades con Keras 3)
tensorflow-cpu
keras
mtcnn
facenet_pytorch